* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header-home {
  background: #023047;
  padding: 10vmin 1rem;
  padding-bottom: 7rem;
  text-align: center;
  color: white;
  
}

.header-home h1 {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 5rem;
  font-size: calc(70px + (48 - 24) * ((100vw - 400px) / (1600 - 300)));
  letter-spacing: 1.5px;
  text-shadow: 2px 2px #000000;
}

.header-home h2 {
  font-weight: lighter;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-size: 17px;
  text-shadow: 2px 1px #000000;
}

.social {
  padding: 15px;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 4px #000000;
}

.social:hover {
  color: #219ebc;
  transition: all 0.5s ease;
}

h3 {
  font-size: 16px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 50px;
  color: #fb8500;
  letter-spacing: 2px;
  padding-top: 60px;
  padding-bottom: 5px;
  text-align: center;
}

hr {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  position: relative;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

h4 {
  font-family: 'Catamaran', sans-serif;
  font-size: 40px;
  font-weight: 50px;
  color: #555b6e;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.main-body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;
}

.frame {
  width: 275px;
  height: 275px;
  border: 2px solid #555b6ea1;
  margin: 10px;
  padding: 17px 17px;
  border-radius: 6px;
  margin-left: 30px;
}

.frame:hover {
  padding: 12px 12px;
  transition: all 0.5s ease;
}

.profilepic {
  max-width: 275px;
  border-radius: 6px;
  filter: grayscale(90%);
}

.profilepic:hover {
  filter: none;
  transition: all 0.5s ease;
}

.weblink:link {
  color: #136f86;
  text-shadow: #023047;
}

.weblink:hover {
  font-weight: bold;
}

.weblink:visited {
  color: #136f86;
}

.header-contact {
  padding-bottom: 20rem;
  padding-top: 6rem;
  background: #023047;
  text-align: center;
  color: #ffffff !important;
  overflow: hidden !important;
}

.contact-body {
  margin-left: 25rem;
  margin-right: 25rem;
  font-size: larger;
}

.contact {
	background-color: #ffffff00;
	border-radius: 6px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	padding: 17px 24px;
  text-decoration: none;
  margin: 0;
  align-self: center;
  box-shadow: 2px 2px 2px #011824;
  margin-top: 1rem;
}

.contact:hover {
	background-color: #219dbcaf;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.header-contact h4 {
  color: #ffffff !important;
}